
<mat-card class="card" style="width: 500px;">
  <mat-card-header style=" font-family: 'K2D', sans-serif;">
    <mat-card-title-group>
      <mat-card-title style="font-family: 'K2D', sans-serif;">{{foodOj.name}}</mat-card-title>
      <mat-card-subtitle style="font-family: 'K2D', sans-serif;">price {{foodOj.price}}</mat-card-subtitle>
      <img mat-card-sm-image src={{foodOj.img}}>
    </mat-card-title-group>
  </mat-card-header>
    <mat-card-actions style="padding: 10px;justify-content: end;font-family: 'K2D', sans-serif;">
      <button mat-stroked-button style="width: 40px;" (click)="addToCart(foodOj.fid)">
      OK
    </button>
    <div style="width: 10px;"> </div>
    <button mat-stroked-button style="width: 40px;" (click)="close()">
      Cancle
    </button>
  </mat-card-actions>
  </mat-card>
