<!-- <mat-toolbar class="sticky-top">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span> Wellcome {{uname}} </span>


  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="Example icon-button with menu icon" style="justify-content: end;">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  </mat-toolbar> -->
  <p>
    <mat-toolbar>
      <span class="example-spacer"></span>
      <img src="https://o.remove.bg/downloads/5fcc49bb-1f44-4c90-9de4-50c71883195a/logo-removebg-preview.png" alt=""
          width="200px">
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    </mat-toolbar>
</p>
