ิี<button mat-icon-button style="float: right; margin: 5px;" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <header>
    <h1>เพิ่มข้อมูล</h1>
  </header>
  <p><mat-form-field>
    <span class="material-symbols-outlined">
      lunch_dining
      </span>
    <input matInput placeholder="ชื่ออาหาร">
  </mat-form-field></p>
  <p><mat-form-field>
    <span class="material-symbols-outlined">
      currency_bitcoin
      </span>
    <input matInput placeholder="ราคา">
  </mat-form-field></p>
  <p><mat-form-field>
    <span class="material-symbols-outlined">
      add_photo_alternate
      </span>
    <input matInput placeholder="รูปภาพ">
  </mat-form-field></p>
  <p><mat-form-field>
    <span class="material-symbols-outlined">
      restaurant_menu
      </span>
    <input matInput placeholder="ประเภทอาหาร">
  </mat-form-field></p>
  <button mat-raised-button color="gray">Save</button>
  <button mat-raised-button color="gray" mat-dialog-close>Cancle</button>
</mat-dialog-content>
