ิี<button mat-icon-button style="float: right; margin: 5px;" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <p><mat-form-field>
    <input matInput placeholder="ชื่ออาหาร">
  </mat-form-field></p>
  <p><mat-form-field>
    <input matInput placeholder="ราคา">
  </mat-form-field></p>
  <p><mat-form-field>
    <input matInput placeholder="รูปภาพ">
  </mat-form-field></p>
  <p><mat-form-field>
    <input matInput placeholder="ประเภทอาหาร">
  </mat-form-field></p>
  <button mat-raised-button color="gray">Save</button>
  <button mat-raised-button color="gray" mat-dialog-close>Cancle</button>
</mat-dialog-content>
